html
{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body
{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.typeahead img {
	display: inline-block;
	margin-left: 6px;
}
.filterTexture{
	pointer-events:none;
	position: fixed;
	top: 0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.3;
}