<template name="mapCreation">
	<a class="clickMe" href="#">Create A Map</a>
    {{> creationBox}}
</template>

<template name="creationBox">
	<div id="creationBox" style="display:none;">
		<div class="creationForm well">
			<div class="myFormContainer" style="text-align:center;">
	    		<input class="newMapTitle"type="text" placeholder="Map Title">
	    		<br/>
	    		<textarea class="newMapDesc"type="text" placeholder="Map Description"></textarea>
	    		<br/>
	  			<button class="btn btn-large showMeIfNotEmpty btnCreateMap" type="button" style="display:none;">Create a new Map</button>
	  		</div>
		</div>
	</div>
</template>