<template name="mapCreation">
	<a class="clickMe" href="#">Create A Map</a>
    {{> creationBox}}
</template>

<template name="creationBox">
	<div id="creationBox" style="display:none;">
		<div class="creationForm well">
			<div class="myFormContainer">
				<h2>Build your map</h2>
	    		<input class="newMapTitle span5" type="text" placeholder="Map Title">
	    		<br/>
	    		<textarea class="newMapDesc span5" type="text" placeholder="Map Description"></textarea>
	    		<br/>
	  			<button class="btn span5 btn-inverse showMeIfNotEmpty btnCreateMap" type="button" style="display:none;">Let's go !</button>
	  		</div>
		</div>
	</div>
</template>