<template name="filterSelector">
<a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Change filter<b class="caret"></b></a>
                      <ul class="dropdown-menu" id="filterMenu" role="menu" aria-labelledby="drop3">
                        <li><a tabindex="0" href="#">Berlin</a></li>
                        <li><a tabindex="1" href="#">1830</a></li>
                        <li><a tabindex="2" href="#">Otto</a></li>
                        <li><a tabindex="3" href="#">Yosemite</a></li>
                        <li><a tabindex="4" href="#">min.</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">No filter</a></li>
                      </ul>
                  </template>