.login-link-and-dropdown-list.login-form-sign-in #login-dropdown-list {
	left: auto;
	right: -1px;
}

.navbar
{
	margin-bottom: 0px;
}
.navbar-inner{
	min-width: 600px;	
}

#popup-config-map {
	position: absolute;
	right:0;
	top: 45px;
	padding: 10px;
	background: #fff;
}

#popup-config-map > div {
	margin: 10px 20px;
}

#config {
	cursor: pointer;
	opacity: 0.4;
}

#config:hover {
	opacity: 1;
}