<template name="nav">
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Mapeo</a>
            <ul class="nav">
              <li >{{>searchMaps}}</li>
              <li >{{>mapCreation}}</li>
            </ul>
            <ul class="nav pull-right">
              <li class="navbar-text">{{loginButtons}}</li>
              <li class="divider-vertical"></li>
              <li class="navbar-text">Config</li>
            </ul>
            {{>popup-config-map}}
        </div>
      </div>
    </div>
</template>