<template name="nav">
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#" style="letter-spacing: 2px">Mape<i class="icon-globe icon-white"></i></a>
            <ul class="nav">
              <li >{{>searchMaps}}</li>
              <li >{{>mapCreation}}</li>
              <li class="nev-text"><a id="explore" href="#">Explore the world</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">{{>filterSelector}}</li>
              <li class="navbar-text">{{loginButtons}}</li>
              <li class="divider-vertical"></li>
              <li id="config" class="navbar-text">&nbsp;&nbsp;&nbsp;<i class="icon-cog icon-white"></i></li>
            </ul>
            {{>popupConfigMap}}
        </div>
      </div>
    </div>
</template>