.login-link-and-dropdown-list.login-form-sign-in #login-dropdown-list {
	left: auto;
	right: -1px;
}

.navbar
{
	margin-bottom: 0px;
}
.navbar-inner{
	min-width: 600px;	
}

#popup-config-map {
	z-index: 2;
	position: absolute;
	right:0;
	top: 45px;
	padding: 10px;
	background: #fff;
}

#popup-config-map > div {
	margin: 10px 20px;
}

#config {
	cursor: pointer;
	opacity: 0.4;
}

#config:hover {
	opacity: 1;
}

#overlay {
	margin-top:45px;
	z-index:1;
	position:fixed;
	min-height:100%;
	min-width:100%;
	background-color: rgba(0, 0, 0, 0.5);
	left:0;
	transition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	-o-transition: all 0.5s; /* Opera */
}

.brand i {
	opacity: 0.5;
	margin-top: 7px;
}

.brand:hover i {
	opacity: 1;
}