.login-link-and-dropdown-list.login-form-sign-in #login-dropdown-list {
	left: auto;
	right: -1px;
}

.navbar
{
	margin-bottom: 0px;
}

#popup-config-map {
	max-width:350px;
	position: absolute;
	right:0;
	top: 45px;
	padding: 10px;
	background: #fff;
}