<template name="popupConfigMap">
	<div id="popup-config-map" class="well hide">
		<div id="updateTitle" class="input-append">
			<input type="text" value="{{map.title}}">
			<button class="btn" type="button">Ok !</button>
		</div>
		<div id="updateDesc" class="input-append">
			<input type="text" value="{{map.desc}}">
			<button class="btn" type="button">Ok !</button>
		</div>
		<div id="updateVisibility">
			<input type="radio" data-label="public" name="visibility" value="true" {{#if map.visibility}} checked="checked" {{/if}} />
			<input type="radio" data-label="private" name="visibility" value="false" {{#unless map.visibility}} checked="checked" {{/unless}} />
		</div>
		<div id="addUser" class="input-append">
			<input type="text" id="user-search" placeholder="Add a friend">
			<button class="btn" type="button">Add</button>
		</div>
	</div>
</template>