<template name="popup-config-map">
<div id="popup-config-map" class="well hide">
	<div class="input-append">
		<input type="text" value="ceci est le titre de ma map">
		<button class="btn" type="button">Ok !</button>
	</div>
	<div class="input-append">
		<input type="text" value="ceci est le titre de ma map">
		<button class="btn" type="button">Ok !</button>
	</div>
	<div>
		<input type="radio" data-label="public" name="visibility" checked="checked" />
		<input type="radio" data-label="private" name="visibility" />
	</div>
	<div class="input-append">
		<input type="text" id="user-search" placeholder="Add a friend">
		<button class="btn" type="button">Add</button>
	</div>
</div>
</template>