<template name="pannel">
	<div class="pannel well clearfix">

		<div class="map-title">
			<h3>
				{{map.title}}
			</h3>
		</div>
		<div class="map-description">
		  {{#if hasPoint}}
			  {{#if visualisation}}
				{{inPlaceDescription}}
			  {{else}}
				<textarea class="pointDesc">{{inPlaceDescription}}</textarea>	
  				<button class="btn btn-mini pointDescValid" type="button">Describe this point</button>
  			{{/if}}
		  {{/if}}
		</div>

		<br>
		<div class="iconsbtn map-icons">
		<a href="#" class="btn btn-large" icon=0 style="background-image:url(img/star.svg); padding: 11px 11px"></a>
		<a href="#" class="btn btn-large" icon=1 style="background-image:url(img/star.svg); padding: 11px 11px"></a>
		<a href="#" class="btn btn-large" icon=2 style="background-image:url(img/star.svg); padding: 11px 11px"></a>
		<a href="#" class="btn btn-large" icon=3 style="background-image:url(img/star.svg); padding: 11px 11px"></a>
		<a href="#" class="btn btn-large" icon=4 style="background-image:url(img/star.svg); padding: 11px 11px"></a>
</div>
	</div>
</template>