<template name="pannel">
	<div class="pannel well clearfix">

		<div class="map-title">
			<h1>
  				{{#if showMap}}
					{{map.title}}
				{{else}}
					{{point.title}}
  				{{/if}}
			</h1>
		</div>
		<div class="map-description">
  			{{#if editMe}}
				{{inPlaceDescription}}
			{{else}}
				{{description}}
  			{{/if}}
		</div>

		<br>
		<div class="iconsbtn">
		<a href="#" class="btn btn-large" icon=0 style="background-image:url(img/star.svg); background-repeat: repeat; padding: 11px 11px; border-color: whitesmoke;"></a>
		<a href="#" class="btn btn-large" icon=1 style="background-image:url(img/star.svg); background-repeat: repeat; padding: 11px 11px; border-color: whitesmoke;"></a>
		<a href="#" class="btn btn-large" icon=2 style="background-image:url(img/star.svg); background-repeat: repeat; padding: 11px 11px; border-color: whitesmoke;"></a>
		<a href="#" class="btn btn-large" icon=3 style="background-image:url(img/star.svg); background-repeat: repeat; padding: 11px 11px; border-color: whitesmoke;"></a>
		<a href="#" class="btn btn-large" icon=4 style="background-image:url(img/star.svg); background-repeat: repeat; padding: 11px 11px; border-color: whitesmoke;"></a>
</div>
	</div>
</template>