<template name="pannel">
	<div class="pannel well clearfix">

		<div class="map-title">
			<h1>
  				{{#if showMap}}
					{{map.title}}
				{{else}}
					{{point.title}}
  				{{/if}}
			</h1>
		</div>
		<div class="map-description">
	  		{{#if showMap}}
				{{map.desc}}
			{{else}}
				{{pointDesc}}
			{{/if}}
		</div>

		<br>
		<a href="#" class="btn btn-large" style="background-image:url(img/star.svg); background-position: 0px; padding: 12px 11px"></a>
		<a href="#" class="btn btn-large" style="background-image:url(img/star.svg); background-position: 22px; padding: 12px 11px"></a>
		<a href="#" class="btn btn-large" style="background-image:url(img/star.svg); background-position: 45px; padding: 12px 11px"></a>
		<a href="#" class="btn btn-large" style="background-image:url(img/star.svg); background-position: 65px; padding: 12px 11px"></a>
		<a href="#" class="btn btn-large" style="background-image:url(img/star.svg); background-position: 155px; padding: 12px 11px"></a>



	</div>
</template>