#chat {
	height: 200px;
	padding: 16px;
	width: 216px;
	max-width: 350px;
	position: absolute;
	right: 20px;
	bottom: 0px;
}

#chat .input-append {
	position: absolute;
	bottom: 0;
	margin-left: 12px;
}

#container-chat {
	position: relative;
}